{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body >
    {% include "snippets/navbar.html" %}
    <div class="home" id="myBodyContent">
        {% block home %}
        
        {% endblock home %}
    </div>
    {% include "snippets/script.html" %}
</body>
</html>