{% extends "base.html" %}

{% block home %}
<div class="heading">
  <div class="text-dark fw-bold pt-5 m-4 d-flex align-items-center flex-column">
    <h1 class="display-4 pt-5">{{heading}}</h1>
    <p class="lead">{{subheading}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="content">
  <div class="bg-light bg-gradient text-dark p-5 rounded-lg m-4 shadow">
    <h1 class="display-4">{{heading}}</h1>
    <p class="lead">{{subheading}}</p>
    <hr class="my-4">
    <p>di sini semua project buatanku berkumpul, jangan lupa mampir dan melihat lihat website ini. yok tarek!!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>    
</div>
{% endblock home %}